Source: ros-groovy-eigen-utils
Section: misc
Priority: extra
Maintainer: Mario Prats <mprats@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libeigen3-dev, ros-groovy-catkin, ros-groovy-roscpp, ros-groovy-tf, ros-groovy-tf-conversions
Homepage: http://ros.org/wiki/eigen_utils
Standards-Version: 3.9.2

Package: ros-groovy-eigen-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-groovy-roscpp, ros-groovy-tf, ros-groovy-tf-conversions
Description: Useful math functions using Eigen
